<!--The content below is only a placeholder and can be replaced.-->
<div class="container mt-5">
  <h1 class="text-primary mb-3 text-center">
    Angular {{ title }}!
  </h1>

  <p *ngIf="loading">Loading...</p>
  <ul class="list-group mb-4">
    <li *ngFor="let post of currentPosts$ | async; trackBy: trackByFn" class="list-group-item">{{post.title}}</li>
  </ul>
  <nav>
    <p>
      Page {{ currentPage }} of {{ totalPages }} &nbsp;
      (Items per page: {{postsPerPage }} &nbsp; {{ indexOfFirstPost + 1 }} - {{ indexOfLastPost }} of {{ totalPosts }})
    </p>
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled': disablePrevious()}">
        <button [disabled]="disablePrevious()" class="page-link" aria-label="Previous" (click)="previous()">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="page-item" *ngFor="let pageNumber of pageNumbers$ | async; trackBy: trackByFn" [ngClass]="{'active': activeDisableCurrentLink(pageNumber)}">
        <button class="page-link" [disabled]="activeDisableCurrentLink(pageNumber)" (click)="paginate(pageNumber)">{{ pageNumber }}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled': disableNext()}">
        <button [disabled]="disableNext()" class="page-link" aria-label="Next" (click)="next()">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>



<router-outlet></router-outlet>
